.warning-bar-row{
  background-color: #ff9d0073;
  color: black;
  transition: background-color .5s;
}

.success-bar-row{
  background-color: #346d43;
  color: white;
  transition: background-color .5s;

}

.message-bar{
  border-radius: 4px;
  font-weight: 300;
  font-size: 90%;
  text-align: center;
}

.btn-play-card {
  background-color: #346d43;
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 8px 1px #ababab6c;
  color: rgb(32, 32, 32);
  color: white;
  height: 2.6em;
  width: 7em;
}

.btn-play-card:hover {
  box-shadow: 2px 2px 8px 1px #ababab04;
  cursor: pointer;
}

.btn-play-card-group {
  margin: auto;
  width: 70vw;
}

.btn-advance-pulse{
  animation: button-pulsate 1.5s infinite;
}

.btn-advance-pulse:hover{
  background-color: #ff9d00d9 !important;
}

.btn-advance{
  background-color: #ff9d006d !important;
  border-color: #ff9d0000 !important;
}

.btn-advance{
  cursor: default !important;
}

.col-right {
  border-left: 1px solid #7c776d18;
  float: right;
  padding: 0.4em 0.5em;
  text-align: right;
}

.col-left {
  border-right: 1px solid #7c776d18;
  flex-direction: row-reverse;
  float: left;
  padding: 0.4em 0.5em;
  text-align: left;
}

.copied {
  color: green;
  font-size: 80%;
  font-weight: bold;
}

.copied-confirmation-text {
  color: green;
  font-size: 80%;
  font-weight: 300;
}

.current-player-turn {
  animation: background-pulsate 1.5s infinite;
  border: 3px solid #244d2f85;
  box-shadow: 1px 1px 7px 1px #244d2f85;
}

.current-player-turn-betting {
  background-color: #ff9d0035;
  border: 3px solid #ff9d0057;
  box-shadow: 1px 1px 7px 1px #244d2f85;
}

.error-message {
  color: #ff000092;
  font-size: 50%;
  font-weight: 300;
}

.font-300 {
  font-weight: 300;
}

.game-link {
  background-color: #ff9d0060;
  border-radius: 5px;
  margin: auto;
  padding: 0.4em;
  width: 40vw;
}

.game-link:hover {
  cursor: pointer;
  font-weight: bold;
}

.highlight-bet{
  animation: background-pulsate 1.5s infinite;
  border: 3px solid #244d2f85;
  box-shadow: 1px 1px 7px 1px #244d2f85;
}

.l {
  margin-right: 2px;
  text-align: left;
}

.message-board {
  background-color: #2b643d;
  border-radius: 5px;
  border-top: 1px solid #ffffff54;
  box-shadow: 2px 2px 10px 1px rgba(112, 112, 112, 0.084);
  font-size: 0.8em;
  font-weight: 300;
  margin-top: 0.3em;
  max-height: 8em;
  min-height: 10.4em;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0.6em 1em;
  text-align: left;
}

.message-board p {
  line-height: 1.2em;
  margin-bottom: 0.6em;
}

.message-col {
  max-width: 100%;
  padding-left: 2px;
}

.player-seat {
  border-radius: 5px;
  box-shadow: 2px 2px 10px 1px #80808022;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0.4em 0.7em;
}

.player-cards-row {
  display: flex;
  justify-content: center;
}

.player-info {
  color: #292929;
  display: flex;
  font-weight: 300;
  justify-content: center;
}

.player-info div {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.r {
  margin-left: 2px;
  text-align: right;
}

.table-header {
  background-color: #346d43;
  border-radius: 4px;
  border: 1px solid rgba(49, 83, 61, 0.347);
  box-shadow: 2px 2px 10px 1px rgba(128, 128, 128, 0.418);
  color: white;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

.table-header-text {
  font-size: 0.9em;
  font-weight: 300;
  margin-top: 3px;
}

.grey-message {
  color: #fff5c6ca;
}

.opponents-container {
  display: flex;
  text-align: center;
}

.opponent-seat {
  border: 1px solid green;
  display: inline-block;
}

.opponent-info {
  color: #292929;
  font-weight: 300;
  line-height: 1.2em;
}

/* Create two equal columns that floats next to each other */
.opp-col {
  border-bottom: 1px solid #7c776d18;
  border-radius: 9px;
  border-top: 1px solid #7c776d18;
  display: flex;
  height: 8em;
  margin-top: 0.4em;
  width: 49%;
}

.opp-col div {
  flex: 50%;
}

/* Clear floats after the columns */
.opp-row:after {
  clear: both;
  content: "";
  display: table;
}

@keyframes background-pulsate {
  
  0% {
    border: 2px solid #ff9d0073;
    background-color:#ff9d0073;
  }
  50% {
    border: 2px solid #ff9d0039;
    background-color: #ff9d0039;

  }
  100% {
    border: 2px solid #ff9d0073;
    background-color:#ff9d0073;
  }
}

@keyframes button-pulsate {
  
  0% {
    border: 2px solid #ff9d008f;
    background-color:#ff9d008f;
  }
  50% {
    border: 2px solid #ff9d0039;
    background-color: #ff9d0039;

  }
  100% {
    border: 2px solid #ff9d008f;
    background-color:#ff9d008f;
  }
}


::-webkit-scrollbar {
  width: 0.2em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(219, 219, 219, 0.323);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(214, 214, 214, 0.44);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4d4d4d;
}

@media only screen and (min-width: 900px) {
  
  .btn-play-card-group {
    margin: auto;
    width: 30vw;
  }
}